In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [40]:
df = pd.read_csv("abalone.csv")

In [42]:
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

Add a column for adult.  This is what we are trying to predict.

In [43]:
df['adult']=df['sex'].apply(lambda x: 1 if x!='I' else 0)

In [44]:
df = df[['length','diameter','height','whole_weight','adult']]

## Using SKLearn train_test_split

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X = np.array(df[['length','diameter','height','whole_weight']])
y = np.array(df['adult'])

In [47]:
len(X)

4177

In [53]:
x_train, x_test_prime, y_train, y_test_prime = train_test_split(X, y, test_size=.40, random_state=42)

In [54]:
len(x_test_prime)

1671

In [55]:
x_validate, x_test, y_validate, y_test = train_test_split(x_test_prime, y_test_prime, test_size=.50, random_state=42)

In [56]:
print(len(x_train), len(x_validate), len(x_test))

2506 835 836